.heading {
  color: #151515;
  font-family: RedHatText;
  font-size: 21px;
  line-height: 27px;
  text-align: left;
}

.title {
  margin-top: 5px;
  color: #151515;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 21px;
  text-align: justify; /* For Edge */
  text-align-last: center;
}

.bitmap {
  width: 49px;
  height: 24px;
}



.pf-c-button.mybutton {
  --pf-c-button--m-small--FontSize: 0.7rem;
  --pf-c-button--FontWeight: 900;
  --pf-c-button--m-warning--Color: #fff;
  --pf-c-button--m-warning--BackgroundColor: #6ca100;
  --pf-c-button--m-warning--hover--BackgroundColor: #486b00;
  --pf-c-button--m-warning--hover--after--BorderColor: #253600;
  --pf-c-button--m-warning--focus--BackgroundColor: #486b00;
  --pf-c-button--m-warning--hover--Color: #fff;
  --pf-c-button--m-warning--focus--Color: #fff;
  --pf-c-button--m-warning--active--Color: #fff;
  --pf-c-button--m-warning--focus--after--BorderColor: #486b00;
  --pf-c-button--m-warning--after--BorderColor: #486b00;
  --pf-c-button--m-warning--active--BackgroundColor: #486b00;
}

.pf-c-button.warningbtn {
  --pf-c-button--m-small--FontSize: 0.7rem;
  --pf-c-button--FontWeight: 900;
  --pf-c-button--m-warning--Color: #fff;
  --pf-c-button--m-warning--BackgroundColor: #ec7a08;
  --pf-c-button--m-warning--hover--BackgroundColor: #c46100;
  --pf-c-button--m-warning--focus--BackgroundColor: #c46100;
  --pf-c-button--m-warning--hover--Color: #fff;
  --pf-c-button--m-warning--focus--Color: #fff;
  --pf-c-button--m-warning--active--Color: #fff;
  --pf-c-button--m-warning--active--BackgroundColor: #c46100;
}



.GridCard {
  height: 420px; 
}

@media only screen 
and (max-width : 991px){
    /* Styles */
}

@media only screen 
and (max-width : 768px){
    /* Styles */
}

@media only screen 
and (max-width : 414px){
    /* Styles */
    .GridCard{
      height: 900px;
    }
}

.pf-c-card.SummaryCard {
  --pf-c-card--m-full-height--Height: 0%;
}

.icon-class {
  color: #6a6e73;
}

.icon-class-exclamation {
  color: #c9190b;
}

.sign-up-text {
  color: #151515;
  font-family: RedHatText;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}
