<div class="stack-report">
    <div *ngIf="!error">
        <div *ngIf="dataLoaded">
            <div class="row row-styling">
                <div class="col-md-10">
                    <i *ngIf="tabs[0].hasWarning" class="margin"
                        [ngClass]="{'pficon-warning-triangle-o': true, 'icon-severe': tabs[0].severity === 2, 'icon-moderate': tabs[0].severity === 2}"></i>
                    <span [innerHtml]="tabs[0].title" class="text-style margin"></span>
                </div>
                <div *ngIf="this.uuid !== null" class="col-md-1">
                    <!-- Modal -->
                    <button type="button" class="btn btn-sm"
                        [ngClass]="(this.tokenDetail.status === 'registered') ? 'btn-success': 'btn-warning'"
                        (click)="openModal(template)"> Snyk Token
                        <i class="fas fa-fw"
                            [ngClass]="(this.tokenDetail.status === 'registered') ? 'fa-check-square' : 'fa-exclamation-triangle'"
                            aria-hidden="true"></i></button>
                    <ng-template #template>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Snyk Token Submission</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="pf-c-alert pf-m-inline"
                                [ngClass]="{'pf-m-warning' : this.tokenAlertType == 'yellow', 'pf-m-success' : this.tokenAlertType == 'green','pf-m-danger' : this.tokenAlertType == 'red'}"
                                aria-label="Inline alert">
                                <div class="pf-c-alert__icon">
                                    <i class="fas fa-fw"
                                        [ngClass]="{'fa-exclamation-triangle' : this.tokenAlertType == 'yellow', 'fa-check-circle' : this.tokenAlertType == 'green','fa-exclamation-circle' : this.tokenAlertType == 'red'}"
                                        aria-hidden="true"></i>
                                </div>
                                <p class="pf-c-alert__title" style="font-size: .8em;">
                                    <span class="pf-screen-reader">Info
                                        alert:</span><span [innerText]="this.tokenAlertsMessage"></span>
                                </p>
                                <span *ngIf="this.loaderStatus" class="pf-c-spinner pf-m-md" role="progressbar" aria-valuetext="Loading...">
                                    <span class="pf-c-spinner__clipper"></span>
                                    <span class="pf-c-spinner__lead-ball"></span>
                                    <span class="pf-c-spinner__tail-ball"></span>
                                </span>
                            </div>
                            <br>
                            <form novalidate class="pf-c-form">
                                <div class="pf-c-form__group">
                                    <div class="pf-c-form__group-label">
                                        <label class="pf-c-form__label" for="help-text-form-name">
                                            <span class="pf-c-form__label-text">Snyk token :
                                            </span>
                                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                                        </label>
                                    </div>
                                    <div class="pf-c-form__group-control">

                                        <input class="pf-c-form-control" type="text" id="help-text-form-comment"
                                            name="help-text-form-comment" aria-describedby="help-text-form-comment-help"
                                            placeholder="Enter your Snyk token"
                                            [(ngModel)]="token"/>
                                        <p class="pf-c-form__helper-text pf-m-primary" id="help-text-form-name-helper" 
                                             style="font-size: 13px;" aria-live="polite"> 
                                            <i class="fas fa-info-circle" style="color: Dodgerblue;"></i> 
                                            If a keyboard shortcut for Paste is not available, try using Edit>Paste 
                                        </p>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <div class="pf-c-content">
                                <small>Don’t have one?
                                    <br>
                                    Get your free Snyk token from
                                    <a [href]="generateUrl.registrationURL" target="__blank"
                                    (click)="this.handleUrl.open($event, generateUrl.registrationURL)"
                                    >here</a>
                                    and get access to all premium
                                    fields</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <footer class="pf-c-modal-box__footer">
                                <button type="button" class="pf-c-button pf-m-small pf-m-primary"
                                    (click)="submitToken($event)">Submit</button>
                                &nbsp;
                                <button type="button" class="pf-c-button pf-m-small pf-m-link"
                                    (click)="modalRef.hide()">Close</button>
                            </footer>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div>
                <!-- Stack Report Design Revamp - BEGIN -->
                <analytics-report-summary (onCardClick)="handleCardClick($event)" [report]="tabs[0].content">
                </analytics-report-summary>
                <card-details [genericInformation]="genericInformation && genericInformation" *ngIf="cardDetails"
                    [cardDetails]="cardDetails" [repoInfo]="repoInfo"></card-details>
                <!-- Stack Report Design Revamp - END -->
            </div>
        </div>
        <div *ngIf="!dataLoaded" class="pre-loader">
            <div class="pre-loader-spinner spinner spinner-lg"></div>
        </div>
        <div class="error-msg blank-slate-pf" *ngIf="errorMessage">
            <div [hidden]="!errorMessage.status">
                <div class="warning-icon blank-slate-pf-icon">
                    <i class="pficon-warning-triangle-o"></i>
                </div>
                <h1>
                    <p>{{errorMessage.title}}</p>
                    <p *ngIf="errorMessage.status">{{errorMessage.status}}</p>
                </h1>
                <p>
                    Error text: {{errorMessage.message}}
                </p>
            </div>
            <div [hidden]="errorMessage.status">
                <h1>{{errorMessage.message}}</h1>
            </div>
        </div>
    </div>