<fab-toast-notification [notifications]="workItemResponse"></fab-toast-notification>
<div class="analytics-component-information">
    <div
        [ngClass]="{'card-pf card-pf-view card-pf-view-xs': true, 'active-card': comp?.isOpen,'transitive-card': comp?.isOpen && comp?.isTransitive}">
        <div class="card-pf-body clear-float header-group">
            <div class="main-content">
                <div [class]="position?.className" *ngFor="let position of positions;">
                    <div [ngSwitch]="position?.identifier">
                        <!-- Security Card -->
                        <div *ngSwitchCase="'serial'">
                            <!-- Serial Numbers -->
                            <span [innerText]="serial + 1 < 10 ? '#0' + (serial + 1) : '#' + (serial + 1)"></span>
                        </div>
                        <div *ngSwitchCase="'component'">
                            <!-- Component Names -->
                            <a *ngIf="tabType === 'private' || tabType === 'public' || tabType === 'compDetails'; else nonUrlName"
                                class="name" [href]="getInformationUrl(comp?.url)" target="_blank"
                                title="command/ctrl + click" [innerText]="comp?.name"></a>
                            <ng-template #nonUrlName><span [innerText]="comp?.name"></span></ng-template>
                            <span class="recommendation-reason" [tooltip]="component?.reason"
                                *ngIf="component?.reason && type === 'recommendation' && comp?.name">Why this
                                dependency?</span>
                            <!--
                                <reco-name [name]="comp?.name" [reason]="comp?.recommendation?.reason" *ngIf="comp?.recommendation && (comp?.recommendation?.type === 'companion')"></reco-name>
                            -->
                        </div>

                        <div *ngSwitchCase="'cveCount'">
                            <!-- cveCount -->
                            <span
                                *ngIf="tabType == 'private' && comp?.private_vulnerabilities && comp?.private_vulnerabilities.length > 0"
                                [innerText]="comp?.privateSecurityDetails && comp?.privateSecurityDetails.totalIssues" class="count"></span>
                            <span
                                *ngIf="tabType == 'public' && comp?.public_vulnerabilities && comp?.public_vulnerabilities.length > 0"
                                [innerText]="comp?.publicSecurityDetails && comp?.publicSecurityDetails.totalIssues" class="count"></span>
                            <span
                                *ngIf="tabType == 'public' && comp?.public_vulnerabilities && comp?.public_vulnerabilities.length == 0"
                                [innerText]="'Check Transitives'"></span>
                            <span
                                *ngIf="tabType == 'private' && comp?.private_vulnerabilities && comp?.private_vulnerabilities.length == 0"
                                [innerText]="'Check Transitives'"></span>

                        </div>


                        <div *ngSwitchCase="'highestCVSS'">
                            <!-- highestCVSS -->
                            <ana-progress-meter
                                *ngIf="comp?.privateSecurityDetails?.progressReport && tabType == 'private'"
                                [config]="comp?.privateSecurityDetails?.progressReport "></ana-progress-meter>
                            <ana-progress-meter
                                *ngIf="comp?.publicSecurityDetails?.progressReport && tabType == 'public'"
                                [config]="comp?.publicSecurityDetails?.progressReport "></ana-progress-meter>
                            <span *ngIf="tabType == 'public' && !comp?.publicSecurityDetails?.progressReport"
                                [innerText]="'-'"></span>
                            <span *ngIf="tabType == 'private' && !comp?.privateSecurityDetails?.progressReport"
                                [innerText]="'-'"></span>
                        </div>

                        <div *ngSwitchCase="'cveIdOfH'">
                            <!-- cveIdOfHeighest CVSS -->
                            <a *ngIf="comp?.hasSecurityIssue && tabType == 'private'"
                                [href]="comp?.privateSecurityDetails?.highestIssue?.url" target="_blank" class="name" title="command/ctrl + click"
                                [innerText]="comp?.privateSecurityDetails && comp?.privateSecurityDetails?.highestIssue?.cve || '-'"></a>
                            <a *ngIf="comp?.hasSecurityIssue && tabType == 'public'" class="name"
                                [href]="comp?.publicSecurityDetails?.highestIssue?.url" target="_blank" title="command/ctrl + click"
                                [innerText]="comp?.publicSecurityDetails && comp?.publicSecurityDetails?.highestIssue?.cve || '-'"></a>
                            <span *ngIf="!comp?.hasSecurityIssue" [innerText]="'-'"></span>

                        </div>

                        <div *ngSwitchCase="'transCount'">
                            <span class="count"
                                *ngIf="comp?.privateTransitiveDependencies && comp?.privateTransitiveDependencies.length > 0 && tabType === 'private'"
                                [innerText]="comp?.privateTransitiveVulnerabilities"></span>
                            <span class="count"
                                *ngIf="comp?.publicTransitiveDependencies && comp?.publicTransitiveDependencies.length > 0 && tabType === 'public'"
                                [innerText]="comp?.publicTransitiveVulnerabilities"></span>
                            <span *ngIf="comp.publicTransitiveVulnerabilities == null || comp.privateTransitiveVulnerabilities == null" [innerText]="'-'"></span>
                            <span *ngIf="tabType === 'private' && comp.privateTransitiveVulnerabilities == '0'" [innerText]="'-'"></span>
                            <span *ngIf="tabType === 'public' && comp.publicTransitiveVulnerabilities == '0'" [innerText]="'-'"></span>                           
                        </div>
                        <!-- Action -->
                        <!-- <div *ngSwitchCase="'action'" class="action">
                            <span *ngIf="!comp?.workItem?.isWorkItemCreated" (click)="handleAction($event, comp)" [innerText]="comp?.action || '-----'" class="not-created"></span>
                            <span *ngIf="comp?.workItem?.isWorkItemCreated">
                                Work item created
                                <a class="created" target="_blank" href="{{comp?.workItem?.url}}">View here</a>
                            </span>
                        </div> -->
                        <!-- Security Card -->



                        <!-- Insights Card -->
                        <div *ngSwitchCase="'alternate'">
                            <!-- alternate -->
                            <span [innerText]="comp?.recommendation?.componentInformation?.name || '------'"></span>
                            <span class="recommendation-reason" [tooltip]="comp?.recommendation?.reason"
                                *ngIf="comp?.recommendation?.reason && comp?.recommendation?.componentInformation?.name">Why
                                this dependency?</span>
                        </div>
                        <div *ngSwitchCase="'feedback'">
                            <!-- feedback -->
                            <component-feedback [genericInformation]="genericInformation"
                                [feedback]="component?.recommendation?.feedback || component?.feedback">
                            </component-feedback>
                        </div>
                        <div *ngSwitchCase="'confidence'">
                            <!-- confidence -->
                            <ana-progress-meter *ngIf="comp?.recommendation?.confidenceScore"
                                [config]="comp?.recommendation?.confidenceScore"></ana-progress-meter>
                            <ana-progress-meter *ngIf="component?.confidenceScore"
                                [config]="component?.confidenceScore"></ana-progress-meter>
                            <span
                                *ngIf="!comp?.recommendation?.confidenceScore && !component?.confidenceScore">-----</span>
                        </div>
                        <!-- Insights Card -->



                        <!-- Licenses Card -->
                        <div *ngSwitchCase="'licensesAffected'">
                            <!-- licensesAffected -->
                            <span [innerText]="comp?.licenses && comp?.licenses.length>0 && comp?.licenses[0]"></span>
                        </div>
                        <div *ngSwitchCase="'unknownLicenses'">
                            <!-- unknownLicenses -->
                            <span *ngFor="let unknown of comp?.licenseInformation?.unknownLicenses; let i = index">
                                <span [innerText]="unknown"></span>
                                <span *ngIf="i < comp?.licenseInformation?.unknownLicenses?.length - 1">,</span>
                                <br *ngIf="i < comp?.licenseInformation?.unknownLicenses?.length - 1">
                            </span>
                        </div>
                        <!-- Licenses Card -->



                        <!-- Component Details Card -->
                        <div *ngSwitchCase="'componentCheck'">
                            <!-- componentCheck -->
                            <span
                                [ngClass]="{'indicator security': true, 'pficon-warning-triangle-o security-issue': component?.hasSecurityIssue, 'pficon-ok': !component?.hasSecurityIssue}"></span>
                            <span
                                [ngClass]="{'indicator usage': true, 'pficon-warning-triangle-o usage-outlier': component?.isUsageOutlier, 'pficon-ok': !component?.isUsageOutlier}"></span>
                            <span
                                [ngClass]="{'indicator license': true, 'pficon-warning-triangle-o license-issue': component?.hasLicenseIssue, 'pficon-ok': !component?.hasLicenseIssue}"></span>
                        </div>
                        <!-- Component Details Card -->
                        <div *ngSwitchCase="'helpUsKnownMore'">
                            <!-- Help us know more about dependencies - get tags -->
                        </div>
                        <div *ngSwitchCase="'collapse'">
                            <!-- Toggle -->

                            <div class="toggler">
                                <i [ngClass]="{'fa': true, 'fa-angle-up': comp?.isOpen, 'fa-angle-down': !comp?.isOpen}"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="comp?.isOpen" class="accordion-body">
                <div [ngClass]="{'col-xs-12': true, 'col-md-6 common-section': comp?.recommendation, 'col-md-12': !comp?.recommendation}"
                    *ngIf="comp">
                    <component-snippet [view]="!comp?.recommendation ? 'normal' : 'split'" [component]="comp"
                        [tabType]="tabType">
                    </component-snippet>
                </div>
                <div class="col-xs-12 col-md-6 recommendation-section common-section"
                    *ngIf="comp?.recommendation?.componentInformation">
                    <component-snippet [view]="'split'" [component]="comp?.recommendation?.componentInformation">
                    </component-snippet>
                </div>
            </div>
        </div>
    </div>
</div>