<div class="col-xs-12 analytics-card-details">

    <span [ngClass]="{'col-sm-10 pl-0 ml-0' : this.whatCard=='security' || this.whatCard == 'compDetails'}">
        <h2 [innerText]="details?.title"></h2>
        {{details?.titleDescription}}
        <span *ngIf="this.whatCard == 'security'" ><a [href]="snykVulnerabilityDBLink" target="__blank"
            (click)="this.handleUrl.open($event, snykVulnerabilityDBLink)">
            Snyk's vulnerability database</a>.</span>
    </span>
    <span class="col-sm-2" *ngIf="this.whatCard == 'security' || this.whatCard == 'compDetails'">
        <a [href]="registrationLink" target="_blank"
            (click)="this.handleUrl.open($event, registrationLink)">
            <span class="content-wrapper">
                <span class="power">Powered By</span>
                <img src="/assets/icon/snky-logo.png" alt="snyk-logo" class="logo" />
            </span>
        </a>
    </span>

    <ng-container *ngIf="details?.reportInformations && details?.reportInformations.length > 1">
        <tabset>
            <tab *ngFor="let tabz of tabs" (select)="tabz.active = true"
                [customClass]="tabz.active ? 'active-menu-item' : 'inactive-menu'">
                <ng-template tabHeading>
                    <span [innerHtml]="tabz.title"></span>
                    <span *ngIf="this.whatCard == 'security'" [innerHtml]=" tabz.badge || '0'" class="badge"></span>
                    <span
                        *ngIf="this.whatCard == 'compDetails' || this.whatCard == 'licenses' || this.whatCard == 'insights' "
                        [innerHtml]="tabz?.content?.componentDetails?.length || '0'" class="badge"></span>
                </ng-template>
                <report-information [genericInformation]="genericInformation" [report]="tabz.content"
                    [repoInfo]="repoInfo" [registrationStatus]="registrationStatus"></report-information>

            </tab>
        </tabset>
    </ng-container>
    <div *ngIf="details?.reportInformations && details?.reportInformations.length === 1">
        <report-information [genericInformation]="genericInformation" [report]="details?.reportInformations[0]"
            [repoInfo]="repoInfo"></report-information>
    </div>
    <div *ngIf="details?.reportInformations && details?.reportInformations.length === 0">
        <!-- Handle no information scenario -->
    </div>
</div>
