.overview-title {
  color: #151515;
  font-family: RedHatText;
  font-size: 16px;
  line-height: 24px;
  width: 687px;
  text-align: left;
}

.vulnerability-summary {
  color: #000000;
  font-family: RedHatText;
  font-size: 18px;
  line-height: 36px;
  text-align: left;
}

.GridCard {
  height: 420px; 
}

.CardBodySize {
  height: 350px;
}
.DrawerSize {
  height: 290px;
}

.textDrawer {
  color: #151515;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 21px;
  width: 240px;
  text-align: left;
}

.overview-content {
  height: 232px;
}

.version-updates-summary {
  color: #000000;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 36px;
  text-align: left;
}

.vulnerability-count-overview {
  color: #000000;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.pf-c-progress{
  --pf-c-progress__indicator--BackgroundColor: #3e8635;
}

