<div class="analytics-report-information">

    <div class="snyk-box"
        *ngIf="report?.tabType == 'private' && !this.transitive && this.registrationStatus!=='registered'">
        <span class="col-sm-1">
            <img src="/assets/icon/snyk-avatar.png" alt="snyk-avatar" class="avatar" />
        </span>
        <span class="col-sm-9">
            These vulnerabilities were found using Snyk's vulnerability database
            <br>
            <b>Register</b> for a <b>free</b> Snyk account to find out more, including whether any of them have a publicly known exploit.
        </span>
        <span class="col-sm-2">
            <a [href]="this.generateUrl.registrationURL" target="_blank"
                (click)="this.handleUrl.open($event, this.generateUrl.registrationURL)"><button class="ripple">Sign up for
                    a free Snyk account</button></a>
        </span>
    </div>



    <div *ngIf="report?.componentDetails && report?.componentDetails.length > 0" class="component-detail-headers">
        <div [class]="header.className" *ngFor="let header of report?.headers" [innerText]="header.text"></div>
    </div>

    <component-details [genericInformation]="genericInformation" (click)="handleAccordion($event, cdetail)"
        (click)="handleTransitive($event, cdetail)" (click)="this.handleUrl.open($event)" [serial]="i"
        [type]="report?.type" [positions]="report?.headers" [compDetails]="cdetail" [repoInfo]="repoInfo"
        [tabType]="report?.tabType || tabType" *ngFor="let cdetail of report?.componentDetails; let i = index;">
    </component-details>

    <no-data *ngIf="!report?.componentDetails || report?.componentDetails.length === 0"
        [identifier]="report?.identifier"></no-data>

</div>
